
          <!-- partial:partials/_footer.html -->
          <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">
                  &copy; <a href="" rel="noreferrer noopener" target="_blank">RBEI/EBB</a> 
                  - coded by <a target="_blank" rel="noreferrer noopener" href="https://connect.bosch.com/profiles/html/myProfileView.do#&tabinst=Updates">Srinivasu K</a>.
                </span>
              <span class="text-muted float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
                <a href="">RBEI/EBB</a> - EBB hardware tracking tool.
              </span>
            </div>
          </footer>
          <!-- partial -->
