{% extends "layouts/base-fullscreen.html" %}

{% block title %} Login {% endblock %} 

<!-- Specific Plugin CSS goes HERE -->
{% block plugin_stylesheets %}{% endblock plugin_stylesheets %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="container-fluid page-body-wrapper full-page-wrapper">
  <div class="row w-100 m-0">
    <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
      <div class="card col-lg-8 mx-auto">
        <div class="card-body px-5 py-5">
          <h3 class="card-title text-left mb-3">
          <h3>Forgot password</h3>
          </h3>
          <div class="card col-lg-3 mx-auto">
            <form method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <div class="card col-lg-6 mx-auto">
              <button type="submit">Submit</button>
            </div>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock content %}

<!-- Specific Plugin JS goes HERE  -->
{% block plugin_javascripts %}{% endblock plugin_javascripts %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}